body{

    background-image: url(/IMAGESTR/background.jpg);
    font-size: 20px;
    margin: 55px;
    
}
#tittle{
    font-size: 4rem;
    text-align: center;
}

.container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    margin: 100px auto;
}
.box{
    width: 250px;
    margin:0 10px;
    box-shadow: 0 0 20px 2px rgba(0,0,.1);
    border-radius: 20px;
}

.box img{
    display: block;
    width: 100%;
    border-radius: 20px;
    height: 100%;
}
.box:hover{
    transform: scale(1.3);
    z-index: 2;
}
#img-caption{
    text-align:justify;
    
}
h2{
    text-align: left;
}
#p1{
    text-align: center;
}
#p2{
    text-align: justify;
}
li{
    text-align: left;
}